<app-nav2></app-nav2>
<h1 class="display-4 text-center mt-5">Add Friend</h1>   
<p> </p>
<div class="container">
<div class="row">
  <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
      <div class="row g-3 d-flex justify-content-center align-items-center h-100">
          <div class="col col-10 col-sm-5 col-lg-5 col-xl-5 col-xxl-5">
              <label for="" class="form-label">Name</label>
              <input type="text" name="name" [(ngModel)]="name" class="form-control">
          </div>
          <div class="col col-10 col-sm-5 col-lg-5 col-xl-5 col-xxl-5">
              <label for="" class="form-label">Friend Name</label>
              <input type="text" name="friendName" [(ngModel)]="friendName" class="form-control">
          </div>
          <div class="col col-10 col-sm-5 col-lg-5 col-xl-5 col-xxl-5">
              <label for="" class="form-label">Describe your Friend</label>
              <textarea type="text" name="DescribeYourFriend" [(ngModel)]="DescribeYourFriend" class="form-control"></textarea>
          </div>
          <div class="col col-10 col-sm-5 col-lg-5 col-xl-5 col-xxl-5">
              <label for="" class="form-label">Friend Nickname</label>
              <input type="text" name="friendNickName" [(ngModel)]="friendNickName" class="form-control">
          </div>        
          <div class="col col-10 col-sm-10 col-lg-10 col-xl-10 col-xxl-10 text-center">
              <button (click)="readValue()" class="btn btn-primary w-50">Submit</button>
          </div>
      </div>
  </div>
</div>
</div>
