<section class="vh-200" style="background-color:rgb(255, 255, 255) ;">
    <div class="container h-100">
      <div class="row g-3 d-flex justify-content-center align-items-center h-100 ">
        <div class="card shadow" style="border-radius: 1rem;width:40rem; margin-top: 2rem; margin-bottom: 2rem;">
            <div class="row">
                <div class="col col-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12 text-center g-4">
                    <img src="https://icons.veryicon.com/png/o/miscellaneous/two-color-icon-library/user-286.png" width="80px" height="80px">
                    <h2>New Employee</h2>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                            <div class="row g-3 justify-content-center align-items-center h-100">
                                <div class="col col-10 col-sm-10 col-lg-10 col-xl-10 col-xxl-10">
                                    <label for="" class="form-label">Employee ID</label>
                                    <input type="text" name="Empid" class="form-control">
                                </div>
                                <div class="col col-5 col-sm-5 col-lg-5 col-xl-5 col-xxl-5">
                                    <label for="" class="form-label">First Name</label>
                                    <input type="text" name="FName" class="form-control">
                                </div>
                                <div class="col col-5 col-sm-5 col-lg-5 col-xl-5 col-xxl-5">
                                    <label for="" class="form-label">Last Name</label>
                                    <input type="text" name="LName" class="form-control">
                                </div>
                                <div class="col col-5 col-sm-5 col-lg-5 col-xl-5 col-xxl-5">
                                    <label for="" class="form-label">House No</label>
                                    <input type="text" name="Houseno" class="form-control">
                                </div>
                                <div class="col col-5 col-sm-5 col-lg-5 col-xl-5 col-xxl-5">
                                    <label for="" class="form-label">House Name</label>
                                    <input type="text" name="Housename" class="form-control">
                                </div>
                                <div class="col col-5 col-sm-5 col-lg-5 col-xl-5 col-xxl-5">
                                    <label for="" class="form-label">Street Name</label>
                                    <input type="text" name="Street Name" class="form-control">
                                </div>
 
                                <div class="col col-5 col-sm-5 col-lg-5 col-xl-5 col-xxl-5">
                                    <label for="" class="form-label">Pin Code</label>
                                    <input type="text" name="PinCode"  class="form-control">
                                </div>
                                <div class="col col-5 col-sm-5 col-lg-5 col-xl-5 col-xxl-5">
                                    <label for="" class="form-label">District</label>
                                    <input type="text" name="District" class="form-control">
                                </div>
 
                                <div class="col col-5 col-sm-5 col-lg-5 col-xl-5 col-xxl-5">
                                    <label for="" class="form-label">State</label>
                                    <input type="text" name="State"  class="form-control">
                                </div>
                                <div class="col col-5 col-sm-5 col-lg-5 col-xl-5 col-xxl-5">
                                    <label for="" class="form-label">Country</label>
                                    <input type="text" name="country" class="form-control">
                                </div>
 
                                <div class="col col-5 col-sm-5 col-lg-5 col-xl-5 col-xxl-5">
                                    <label for="" class="form-label">Mobile No</label>
                                    <input type="text" name="mobileno"  class="form-control">
                                </div>                                
                                
                                <div class="col col-10 col-sm-10 col-lg-10 col-xl-10 col-xxl-10">
                                    <label for="" class="form-label">Email</label>
                                    <input type="email" name="Email" class="form-control" placeholder="name@example.com">
                                </div>
                                <div class="col col-5 col-sm-5 col-lg-5 col-xl-5 col-xxl-5">
                                    <label for="" class="form-label">Parent Name</label>
                                    <input type="text" name="pname"  class="form-control">
                                </div>
                                <div class="col col-5 col-sm-5 col-lg-5 col-xl-5 col-xxl-5">
                                    <label for="" class="form-label">Gender</label>
                                    <input type="text" name="gr" class="form-control">
                                </div>
 
                                <div class="col col-5 col-sm-5 col-lg-5 col-xl-5 col-xxl-5">
                                    <label for="" class="form-label">Highest degree</label>
                                    <input type="text" name="hd"  class="form-control">
                                </div>    
                                <div class="col col-5 col-sm-5 col-lg-5 col-xl-5 col-xxl-5">
                                    <label for="" class="form-label">Years of Experience</label>
                                    <input type="text" name="exp"  class="form-control">
                                </div>    

                                <div class="col col-10 col-sm-10 col-lg-10 col-xl-10 col-xxl-10">
                                    <label for="" class="form-label">Date of Join</label>
                                    <input type="date" name="dob" class="form-control">
                                </div>

                                <div class="col col-10 col-sm-10 col-lg-10 col-xl-10 col-xxl-10">
                                    <label for="" class="form-label">User Name</label>
                                    <input type="text" name="UserName" class="form-control">
                                </div>
                                <div class="col col-10 col-sm-10 col-lg-10 col-xl-10 col-xxl-10">
                                    <label for="" class="form-label">Password</label>
                                    <input type="password" name="Password"  class="form-control">
                                </div>
                                <div class="col col-10 col-sm-10 col-lg-10 col-xl-10 col-xxl-10">
                                    <label for="" class="form-label">Confirm Password</label>
                                    <input type="password" name="CPassword"  class="form-control">
                                </div>
                                <div class="col col-10 col-sm-10 col-lg-10 col-xl-10 col-xxl-10 " >
                                    <div class="d-grid gap-2 col-6 mx-auto h-5 mt-3" >
                                        <a class="btn btn-primary" type="button" >Register</a>
                                    </div>
                                </div>
                                <div class="col col-10 col-sm-10 col-lg-10 col-xl-10 col-xxl-10 text-center" style="margin-bottom:3rem; ">
                                    <a routerLink="/employeelogin" class="link-primary" >Back to Employee login</a>
                                </div>



                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
      </div>
    </div>
</section>