<app-admin-nav></app-admin-nav>
<section class="vh-100">
        <h1 class="display-4 text-center mt-3 ">All Courses</h1>           
<!--=======================================================================================================-->   
                        <ng-container *ngIf="loading; then loadingscreen; else datascreen"></ng-container>

                        <ng-template #loadingscreen>
                            <div class="text-center d-flex justify-content-center align-items-center">
                                <div class="spinner-border" role="status"></div>
                            </div>
                        </ng-template>
                        <ng-template #datascreen>
                                <table class="table table-striped-columns">
                                    <thead>
                                    <tr>
                                        <th scope="col">Course Title</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Duration</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Venue</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let i of coursedata">   
                                        <td>{{i.courseTitle}}</td>
                                        <td>{{i.courseDescription}}</td>
                                        <td>{{i.courseDuration}}</td>
                                        <td>{{i.courseDate}}</td>
                                        <td>{{i.courseVenue}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                        </ng-template>
</section>        















